.localTime {
    font: small-caps lighter 24px/100% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-align: left;
    width: 100%;
    padding-left: 16px;
}