@import '../../style/colors.scss';

.navBar {
    background-color: $lightColor;
    color: $textColor;
    padding: 8px 16px;
    min-height: 60px;
    font-size: 32px;
    font-weight: 600;
    gap: 8px;
}